<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="col-md-3"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6" align="center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,class: "form-control"%>
  </div>
  </div>
   
  <div class="row">
  <div class="col-sm-6" align="center">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>
</div>
<br>
  <% if devise_mapping.rememberable? -%>
  <div class="row">
        <div class="col-sm-6" >
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    </div>
  <% end -%>
<br>
 <div class="row">
        <div class="col-sm-6" align="center">
    <%= f.submit "Log in",:class => 'btn btn-primary' %>
  </div>
  </div>
<% end %>
<%= render "users/shared/links" %>
</div>


