<%= form_for(onlinestore) do |f| %>
  <% if onlinestore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(onlinestore.errors.count, "error") %> prohibited this onlinestore from being saved:</h2>

      <ul>
      <% onlinestore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit %>
    <%= f.number_field :unit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
