<p id="notice"><%= notice %></p>

<h1>Onlinestores</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onlinestores.each do |onlinestore| %>
      <tr>
        <td><%= onlinestore.unit %></td>
        <td><%= link_to 'Show', onlinestore %></td>
        <td><%= link_to 'Edit', edit_onlinestore_path(onlinestore) %></td>
        <td><%= link_to 'Destroy', onlinestore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onlinestore', new_onlinestore_path %>
