
<h2>My Cart</h2>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
          <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.try(:product).try(:title) %></td>
        <td><%= cart.try(:product).try(:description) %></td>
        <td><%= cart.try(:product).try(:price) %></td>
        <!--<td><%= link_to 'Edit', edit_cart_path(cart) %></td>-->
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Cart', new_cart_path %>-->
