<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

<div class="col-md-3"></div>
  <div class="col-md-8">
     <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.label :password, "New password" %><br />
    <%# if @minimum_password_length %>
     <!-- <em>(<%#= @minimum_password_length %> characters minimum)</em><br />-->
    <%# end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off",class: "form-control" %>
  </div>
</div>
   <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
  </div>
  </div>
<br>
 <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.submit "Change my password",:class => 'btn btn-primary' %>
  </div>
  </div>
<% end %>
</div>

<%#= render "users/shared/links" %>
