<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="col-md-3"></div>
    <div class="col-md-8">
  <div class="row">
  <div class="col-sm-6" align="center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class: "form-control" %>
  </div>
  </div>
<br>
<div class="row">
    <div class="col-sm-6" align="center">
    <%= f.submit "Send me reset password instructions",:class => 'btn btn-primary' %>
  </div>
  </div>
<% end %>
</div>
<!--<%#= render "users/shared/links" %>-->
