<p id="notice"><%= notice %></p>

<h1>Offlinestores</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offlinestores.each do |offlinestore| %>
      <tr>
        <td><%= offlinestore.unit %></td>
        <td><%= link_to 'Show', offlinestore %></td>
        <td><%= link_to 'Edit', edit_offlinestore_path(offlinestore) %></td>
        <td><%= link_to 'Destroy', offlinestore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offlinestore', new_offlinestore_path %>
