<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @offlinestore.unit %>
</p>

<%= link_to 'Edit', edit_offlinestore_path(@offlinestore) %> |
<%= link_to 'Back', offlinestores_path %>
