<%= form_for(offlinestoredetail) do |f| %>
  <% if offlinestoredetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offlinestoredetail.errors.count, "error") %> prohibited this offlinestoredetail from being saved:</h2>

      <ul>
      <% offlinestoredetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address1 %>
    <%= f.text_area :address1 %>
  </div>

  <div class="field">
    <%= f.label :address2 %>
    <%= f.text_area :address2 %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :zip %>
    <%= f.number_field :zip %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
