<script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyDzG9QbK5damru-GuqGYWnTL3fvCR1ci9c"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<p id="notice"><%= notice %></p>

<h1>Offlinestoredetails</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Zip</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offlinestoredetails.each do |offlinestoredetail| %>
      <tr>
        <td><%= offlinestoredetail.name %></td>
        <td><%= offlinestoredetail.address1 %></td>
        <td><%= offlinestoredetail.address2 %></td>
        <td><%= offlinestoredetail.city %></td>
        <td><%= offlinestoredetail.state %></td>
        <td><%= offlinestoredetail.country %></td>
        <td><%= offlinestoredetail.zip %></td>
        <td><%= offlinestoredetail.latitude %></td>
        <td><%= offlinestoredetail.longitude %></td>
        <td><%= link_to 'Show', offlinestoredetail %></td>
        <td><%= link_to 'Edit', edit_offlinestoredetail_path(offlinestoredetail) %></td>
        <td><%= link_to 'Destroy', offlinestoredetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>

</script>

<div style='width: 800px;'>
  <div id="map" style='width:800px; height:400px;'></div>
</div>
<script>

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});


</script>

<br>

<%= link_to 'New Offlinestoredetail', new_offlinestoredetail_path %>
