<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offlinestoredetail.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @offlinestoredetail.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @offlinestoredetail.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @offlinestoredetail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @offlinestoredetail.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @offlinestoredetail.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @offlinestoredetail.zip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @offlinestoredetail.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @offlinestoredetail.longitude %>
</p>

<%= link_to 'Edit', edit_offlinestoredetail_path(@offlinestoredetail) %> |
<%= link_to 'Back', offlinestoredetails_path %>
