

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @product.shipping %>
</p>

<p>
  <strong>Product Image:</strong>
  <%= image_tag @product.pimage.url(:thumb) %>
</p>

<!--<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>-->

<%= link_to "Add to Cart",products_addtocart_path(:id => @product), :method => 'post', :class => 'btn btn-primary' %>
