<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>

  <li><%= link_to "Catalog", products_path, :class => 'navbar-link'  %><li>
  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li> |
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
<% else %>
  <li><%= link_to "Catalog", products_path, :class => 'navbar-link'  %><li>
  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> |
  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %><li>

<% end %>

      </ul>
    </nav>
  </div>
</header>
