<!DOCTYPE html>
<html>
  <head>
    <title>Shopperskart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice" align="center"><%= notice %></p>
    <p class="alert" align="center"><%= alert %></p>
<%= render 'layouts/header' %>



    <%= yield %>
</div>
  </body>
</html>
