<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="col-md-3"></div>
    <div class="col-md-8">
    <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class: "form-control" %>
  </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
    <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>
  </div>
 <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
  </div>
  </div>
 <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.label :current_password %> 
    <%= f.password_field :current_password, autocomplete: "off" ,class: "form-control"%>
  </div>
  </div>
  <br>

 <div class="row">
    <div class="col-sm-6" align="center">
    <%= f.submit "Update",:class => 'btn btn-primary' %>
  </div>
  </div>
<% end %>
</div>

<!--<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>-->
