<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="col-md-3"></div>
    <div class="col-md-8">
    <div class="row">
        <div class="col-sm-6" align="center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class: "form-control" %>
  </div>
</div>
<div class="row">
        <div class="col-sm-6" align="center">
    <%= f.label :password %>
   <!-- <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />-->
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>
  </div>

<div class="row">
        <div class="col-sm-6" align="center">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
  </div>
  </div><br>
<div class="row">

   <div class="col-sm-6" align="center">
    <%= f.submit "Sign up",:class => 'btn btn-primary' %>
</div>
  </div>
<% end %>


</div>
